@import ../bower_components/bootstrap-sass/assets/stylesheets/bootstrap
@import ../bower_components/font-awesome/scss/font-awesome
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700')

$white: #fff
$black: #000
$brow: #FF6E00
$grey: #ededed
$green: #022424
$blackgreen: #011218

/*mini reset*/
body
	margin: 0px
	padding: 0px
	border: 0px
	font-family: 'Open Sans', sans-serif
/*sections com 100% de altura */
section,
main,
header
	min-height: 100vh		
.conteudo
	display: flex
	justify-content: center
	align-items: center	
.container
	text-align: center
	p
		font-size: 1.2em
	h3
		font-size: 3em
	h4
		padding: 10px 5px
		font-size: 1.8em	
/*header*/
.topo
	background-color: $black
	display: flex
.menu
	top: 0px	
	position: fixed	
	width: 100%
	background-color: rgba($black, 0.7)
	img 
		float: left
		height: 80px
	ul	
		float: right
		li
			padding: 5px 20px 0px			
			line-height: 60px
			font-size: 1.3em
			display: inline-block
			a 
				text-decoration: none
				color: $white
.apresentacao
	color: $white	
	text-align: center
	text-shadow: 3px 3px 3px #00A736
	h1
		font-size: 4em 
		span 
			font-weight: 700		
	p
		padding-top: 15px 
		font-size: 2em	
/* section sobre */		
.sobre 
	text-align: center
	background-color: $green
	color: $white
	img 
		border: 5px #00A736 solid		
		border-radius: 15em
		margin: 0px 40px
		box-shadow: 2px 2px 2px #00A736
	.fa 
		font-size: 4em
		padding: 35px
		border-radius: 15em
		color: $white
		background-color: rgba(#00A736, 0.7)	
		box-shadow: 3px 3px 3px #00A736
	h3 
		padding: 25px
	p 
		padding: 0px 30px
/*curriculo*/
.curriculo
	text-align: center
	.container
		border-radius: 15px
		padding: 20px
		background-color: rgba($black, 0.7)
		color: $white


.curri	
	display: flex
	justify-content: space-around	
	text-align: center
	div
		text-align: justify
		width: 45%	
/*Section Habilidades*/
.habilidades
	text-align: center
	h3
		color: $white
.topicos
	display: flex
	justify-content: space-around
	flex-wrap: wrap		
	h4
		color: $blackgreen
.fa
	padding: 0px 10px
	color: #00A736
	font-size: 1.4em

.front
	&:hover
		border: 4px solid #0075AF		
	&:hover
		border: 4px solid #0075AF
	h4
		color: #0075AF
.back
	&:hover
		border: 4px solid #bc4247
	&:focus
		border: 4px solid #bc4247
	h4
		color: #bc4247
.desi
	&:hover
		border: 4px solid #FFCE2E
	&:focus
		border: 4px solid #FFCE2E
	h4
		color: #FFCE2E		
.qa
	&:hover
		border: 4px solid #A752B8
	&:focus
		border: 4px solid #A752B8	
	h4
		color: #A752B8
				
.front,		
.back,
.desi,
.qa	
	transition: border 1s
	border: 4px solid #001a23
	background-color: #001a23
	color: $white	
	width: 30%
	border-radius: 15px
	padding: 0px 10px	
	margin: 15px 0px 0px
.back
	width: 96%

.habilidades
	background-color: $blackgreen

/*mobile*/
@media screen and (max-width: 480px)
	/*header*/
	.topo
		background: url("../images/banner_top_mobile.jpg") center center no-repeat fixed
		background-size: cover
	.menu
		ul 
			display: none	
	.apresentacao
		h1
			font-size: 2em
		p 	
			font-size: 1.2em		
	/*section sobre*/
	.sobre
		height: 100%
		img
			width: 130px
			margin: 0px 5px 
		.fa 
			padding: 20px
			font-size: 1.6em	
		h3 
			font-size: 1.5em
		p 
			font-size: 1em
	/*habilidades*/
	.front,		
	.back,
	.desi,
	.qa	
		width: 90%						
	/*curriculo*/
	.curriculo
		background: url("../images/curriculo_mobile.jpg") center center no-repeat fixed
		background-size: cover
/*tablet*/
@media screen and (min-width: 481px) and (max-width: 980px)
	/*header*/
	.topo
		background: url("../images/banner_top_tablet.jpg") center center no-repeat fixed
		background-size: cover
	.apresentacao
		h1
			font-size: 3em
		p 	
			font-size: 1.5em
	/*section sobre*/
	.sobre
		img
			width: 200px
			margin: 0px 25px 
		.fa 
			padding: 25px
			font-size: 3em
	/*habilidades*/
	.front,		
	.back,
	.desi,
	.qa	
		width: 48%
	/*curriculo*/
	.curriculo
		background: url("../images/curriculo_tablet.jpg") center center no-repeat fixed
		background-size: cover	

/*desktop*/
@media screen and (min-width: 981px)
	/*header*/
	.topo
		background: url("../images/banner_top_desktop.jpg") center center no-repeat fixed
		background-size: cover
	/*curriculo*/
	.curriculo
		background: url("../images/curriculo_desktop.jpg") center center no-repeat fixed
		background-size: cover	